@using EntityLayer.Concrete
@model List<Rezervasyon>
@{
    ViewData["Title"] = "EskiRezervasyonlar";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@if (!Model.Any())
{   <h2>Geçmiş Rezervasyonlarım</h2>
    <div>
        <h4 style="color:crimson">Geçmiş rezervasyonunuz bulunmamaktadır..</h4>
    </div>
}
else
{
    <h1>Geçmiş Rezervasyonlarım</h1>
<table class=" table table-bordered">
    <tr>
        <th>#</th> @*rezervasyonID*@
        <th>Şehir</th> @*ŞEHİR*@
        <th>Otel</th> @*OTELADI*@
        <th>Kişi Sayısı</th>
        <th>Rezervasyon Tarihi</th>
        <th>Durum</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ReservasyonID</td>
            <td>@item.TatilYerleri.Sehir</td>
            <td>@item.TatilYerleri.OtelAdi</td>
            <td>@item.KisiSayisi</td>
            <td>@item.RezervayonTarihi</td>
            <td>@item.RezervasyonDurumu</td>
        </tr>
    }
</table>
}

